.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1% auto;
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
    margin-bottom: 1%;
}

.input-details {
    width: 50%;
}

p {
    font-size: 0.8rem;
}

.zustimmung {
    margin-left: 10px;
    width: auto;
}

.fach-radio {
    display: flex;
    gap: 20px;
}

.fach {
    margin-right: 10%;
}

.check {
    width: 50%;
    padding: 1%;
}

.check-with-text {
    display: flex;
    width: 100%;
    padding: 1%;
}

label {
    width: 45%;
    font-size: 1.5rem;
}

label#ausbildunsAnmeldung {
    width: auto;
}

input[type='text'] {
    width: 50%;
    border-width: 1px;
    border-color: gray;
    font-size: 1.5rem;
}

input[type='radio'] {
    border-width: 1px;
    border-color: gray;
    font-size: 1.5rem;
    transform: scale(1.5);
}

input[type='checkbox'] {
    transform: scale(2);
    border-width: 1px;
    border-color: gray;
    font-size: 1.5rem;
}

.required {
    color: red;
}

.nav-container .nav-button {
    background-color: #00628a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 8%;
}

@media (max-width: 768px) {
    .container {
        flex: 1 0 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .input-container {
        flex: 1 0 100%;
        justify-content: space-between;
    }

    label {
        font-size: 1rem;
        width: 50%;
    }

    .gender {
        font-size: 0.8rem;
    }

    input[type='checkbox'] {
        transform: scale(1);
    }

    input[type='radio'] {
        transform: scale(1);
    }

    .check-with-text {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
