/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        Source Sans Pro,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    background-color: #eaeaea;
}

.form-background {
    background-color: #e3e1e1;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 1em;
    overflow: clip;

    & > div ~ div {
        padding-inline: 0.5em;
    }
}

.form-title {
    background-color: #ff9c00;
    font-family:
        'Source Sans Pro',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 1.5rem;
    padding: 0.2em 0.5em;
    color: white;
}

@media (max-width: 768px) {
    .form-background {
        width: 95%;
    }
}
