<div id="wohnort-section" class="form-background mx-auto">
    <div class="form-title mx-auto">
        Wohnort Daten
    </div>
    <div class="container">
        <div class="input-container">
            <label for="plz">Postleitzahl<span class="required">*</span></label>
            <input type="text" id="plz">
        </div>
        <div class="input-container">
            <label for="wohnort">Wohnort<span class="required">*</span></label>
            <input type="text" id="wohnort">
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="straße">Straße<span class="required">*</span></label>
            <input type="text" id="straße">
        </div>
        <div class="input-container">
            <label for="hausnummer">Hausnummer<span class="required">*</span></label>
            <input type="text" id="hausnummer">
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="wohnebei">Ich wohne bei</label>
            <div class="input-details">
                <input type="text" id="wohnebei">
                <p id="details">Falls Ihr Nachname nicht "am Klingelschield steht", geben Sie bitte den Namen des Wohnungseigentümers an.</p>
              </div>          
        </div>
        <div class="input-container">
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="notfallkontakt">Wer soll im Notfall verständigt werden</label>
            <input type="text" id="notfallkontakt">
        </div>
        <div class="input-container">
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="telefon-notfall">Telefon von Notfallkontakt</label>
            <input type="text" id="telefon-notfall">
        </div>
        <div class="input-container">
        </div>
    </div>
</div>