<div id=datenschutz-section class="form-background mx-auto">
    <div class="form-title mx-auto">
        Datenschutzerklärung und Bestätigung
    </div>
    <div class="container">
        <p>Wir freuen uns, dass Sie sich an der Rahel-Hirsch-Schule zu einer Ausbildung anmelden möchten!</p>
        <p>
          Bei der Online-Anmeldung werden temporär verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir im Rahmen der Online-Anmeldung erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
        </p>
        <p>
          Sie haben neben der Nutzung der Online-Anmeldung auch die Möglichkeit, sich direkt an der RHS zu bewerben. Hierdurch entstehen Ihnen keinerlei Nachteile. Wenn Sie der elektronischen Datenerfassung nicht zustimmen, melden Sie sich bitte in dem Schulsekretariat.
        </p>
      </div>
      <div class="container">
        <div class="input-container">
            <label for="zustimmung">Datenspeicherung<span class="required">*</span></label>
            <input type="checkbox" id="zustimmung">
            <span for="zustimmung" class="zustimmung">Ich nehme die Datenschutzerklärung zur Kenntnis und willige in die elektronische Datenverarbeitung</span>
        </div>
      </div>
      <div class="btn-container">
        <p-button label="Formular senden" class="senden-button" />
      </div>
</div>