<div class="form-background mx-auto">
    <div class="form-title mx-auto">
        Persönliche Daten
    </div>
    <div class="container">
        <div class="input-container">
          <label for="vorname">Vorname<span class="required">*</span></label>
          <input type="text" id="vorname">
        </div>
        <div class="input-container">
          <label for="nachname">Nachname<span class="required">*</span></label>
          <input type="text" id="nachname">
        </div>
      </div>
      <div class="container">
        <div class="input-container">
          <label for="vorname">Geschlecht<span class="required">*</span></label>
          <input type="text" id="vorname">
        </div>
        <div class="input-container">
          <label for="nachname">Herkunftssprache der Eltern</label>
          <input type="text" id="nachname">
        </div>
      </div>
      <div class="container">
        <div class="input-container">
          <label for="vorname">Geboren am<span class="required">*</span></label>
          <input type="text" id="vorname">
        </div>
        <div class="input-container">
          <label for="nachname">Geburtsort<span class="required">*</span></label>
          <input type="text" id="nachname">
        </div>
      </div>
      <div class="container">
        <div class="input-container">
          <label for="vorname">Geburtsland<span class="required">*</span></label>
          <input type="text" id="vorname">
        </div>
        <div class="input-container">
          <label for="nachname">Staatsangehörigkeit<span class="required">*</span></label>
          <input type="text" id="nachname">
        </div>
      </div>
      <div class="container">
        <div class="input-container">
          <label for="vorname">Handynummer</label>
          <input type="text" id="vorname">
        </div>
        <div class="input-container">
          <label for="nachname">Telefon</label>
          <input type="text" id="nachname">
        </div>
      </div>
      <div class="container">
        <div class="input-container">
          <label for="vorname">Ihre E-Mail</label>
          <input type="text" id="vorname">
        </div>
        <div class="input-container">
          <label for="nachname">Ich bin unter 18</label>
          <input type="text" id="nachname">
        </div>
      </div>
</div>