<div class="form-background mx-auto">
    <div class="form-title mx-auto">
        Persönliche Daten
    </div>
    <div class="row mt-2">
        <div class="col-lg-6">
                <label for="vorname">Vorname</label>
                <input pInputText id="vorname" aria-describedby="vorname-help"/>
        </div>
        <div class="col-lg-6">
            <label for="nachname">Nachname</label>
            <input pInputText id="nachname" aria-describedby="nachname-help"/>
        </div>
        
    </div>
    
</div>