.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1% auto;
}

.input-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 2%;
  margin-bottom: 1%;
}

.input-details {
  width: 50%;
}

p{
  font-size: 0.8rem;
}


#handynummer{
  width: 100%;
}
#email{
  width: 100%;
}
#telefon{
  width: 100%;
}

.zustimmung{
  margin-left: 10px;
  width: auto;
}

.gender-radio{
  display: flex;
  align-items: center;
  font-size: 1.5em;
  width: 50%;
  justify-content: space-between;
}

.gender{
  margin-left: 0%;
}

.check{
  width: 50%;
  padding: 1%;
}

.check-with-text{
    display: flex;
    width: 100%;
    padding: 1%;
}

label{
  width: 45%;
  font-size: 1.5rem;
}

input[type="text"]{
  width: 50%;
  border-width: 1px;
  border-color: gray;
  font-size: 1.5rem;
}

input[type="date"]{
  width: 50%;
  border-width: 1px;
  border-color: gray;
  font-size: 1.5rem;
}

input[type="radio"]{
  border-width: 1px;
  border-color: gray;
  font-size: 1.5rem;
  transform: scale(1.5);
}

input[type="checkbox"]{
  transform: scale(2);
  border-width: 1px;
  border-color: gray;
  font-size: 1.5rem;
}



.required{
  color: red;
}

@media (max-width: 768px) {
  .container{
    flex: 1 0 100%;
      flex-direction: column; 
      align-items: flex-start; 
  }

  .input-container {
      flex: 1 0 100%;
      justify-content: space-between;
  }

  label {
      font-size: 1rem;
      width: 50%;
  }


  .gender{
    font-size: 0.8rem;
  }

  input[type="checkbox"] {
    transform: scale(1);
  }

  input[type="radio"] {
    transform: scale(1);
  }

  .check-with-text {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}