<div id="schulbesuch-section" class="form-background mx-auto" [formGroup]="educationForm">
    <div class="form-title mx-auto">Schulbesuch Daten</div>
    <div class="container">
        <div class="input-container">
            <label for="schulabschluss">Schulabschluss<span class="required mx-0">*</span></label>
            <div class="abschluss-radio">
                <input
                    type="radio"
                    id="Berufsbildungsreife"
                    name="degree"
                    value="Berufsbildungsreife"
                    formControlName="degree"
                />
                <span class="abschluss">Berufsbildungsreife</span>

                <input
                    type="radio"
                    id="Fachabitur"
                    name="degree"
                    value="Fachabitur"
                    formControlName="degree"
                />
                <span class="abschluss">Fachabitur</span>

                <input
                    type="radio"
                    id="Ohne"
                    name="degree"
                    value="Ohne"
                    formControlName="degree"
                />
                <span class="abschluss">Ohne</span>

                <input
                    type="radio"
                    id="Erweiterte Berufsbildungsreife"
                    name="degree"
                    value="Erweiterte Berufsbildungsreife"
                    formControlName="degree"
                />
                <span class="abschluss">Erweiterte Berufsbildungsreife</span>

                <input
                    type="radio"
                    id="schriftl.Tl"
                    name="degree"
                    value="schriftl.Tl"
                    formControlName="degree"
                />
                <span class="abschluss">Fachabitur schriftl. Teil</span>

                <input
                    type="radio"
                    id="mittlAbschluss"
                    name="degree"
                    value="mittlAbschluss"
                    formControlName="degree"
                />
                <span class="abschluss">Mittlerer Schulabschluss</span>

                <input
                    type="radio"
                    id="abitur"
                    name="degree"
                    value="abitur"
                    formControlName="degree"
                />
                <span class="abschluss">Abitur</span>
            </div>
        </div>
        <div class="input-container"></div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="letzteSchule">Zuletzt besuchte Schule</label>
            <input type="text" id="vorname" formControlName="lastSchool" />
        </div>
        <div class="input-container">
            <label for="abschlussJahr">Abschluss- / Abgangsjahr<span class="required">*</span></label>
            <input type="text" id="nachname" formControlName="graduationYear" />
        </div>
    </div>

    <div class="container">
        <div class="input-container">
            <label for="abgeschlossLehrgang">Abgeschlossener Lehrgang</label>
            <div class="abschluss-radio">
                <input
                    type="radio"
                    id="IBA"
                    name="graduationType"
                    value="IBA"
                    formControlName="graduationType"
                />
                <span class="abschluss">IBA</span>

                <input
                    type="radio"
                    id="BQL"
                    name="graduationType"
                    value="BQL"
                    formControlName="graduationType"
                />
                <span class="abschluss">BQL</span>

                <input
                    type="radio"
                    id="BV"
                    name="graduationType"
                    value="BV"
                    formControlName="graduationType"
                />
                <span class="abschluss">BV</span>

                <input
                    type="radio"
                    id="wilkommKlasse"
                    name="graduationType"
                    value="wilkommKlasse"
                    formControlName="graduationType"
                />
                <span class="abschluss">Willkommensklasse</span>

                <input
                    type="radio"
                    id="keinen"
                    name="graduationType"
                    value="keinen"
                    formControlName="graduationType"
                />
                <span class="abschluss">Keinen</span>
            </div>
        </div>
        <div class="input-container"></div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="handynummer">Abgeschlossene Ausbildung</label>
            <div class="input-details">
                <input type="text" id="abgeschlossAusbildung" formControlName="graduationTraining" />
            </div>
        </div>
        <div class="input-container"></div>
    </div>

    <div class="container">
        <div class="input-container">
            <label for="neuInSchule">Neu an der Rahel-Hirsch-Schule?</label>
            <div class="abschluss-radio">
                <input
                    type="radio"
                    id="neu"
                    name="newMember"
                    value="neu"
                    formControlName="newMember"
                />
                <span class="abschluss">Ja, ich bin neu an der Rahel-Hirsch-Schule</span>

                <input
                    type="radio"
                    id="warSchüler"
                    name="newMember"
                    value="warSchüler"
                    formControlName="newMember"
                />
                <span class="abschluss">Ich war bereits Schüler*in in der Rahel-Hirsch-Schule</span>

                <input
                    type="radio"
                    id="istSchüler"
                    name="newMember"
                    value="istSchüler"
                    formControlName="newMember"
                />
                <span class="abschluss">Ich bin aktuell Schüler*in in der Rahel-Hirsch-Schule</span>
            </div>
        </div>
        <div class="input-container"></div>
    </div>
</div>
