<div id="schulbesuch-section" class="form-background mx-auto">
    <div class="form-title mx-auto">
        Schulbesuch Daten
    </div>
    <div class="container">
        <div class="input-container">
            <label for="schulabschluss">Schulabschluss<span class="required mx-0">*</span></label>
            <div class="abschluss-radio">
                <input type="radio" id="Berufsbildungsreife" name="schulabschluss"><span
                    class="abschluss">Berufsbildungsreife</span>
                <input type="radio" id="Fachabitur" name="schulabschluss"><span class="abschluss">Fachabitur</span>
                <input type="radio" id="Ohne" name="schulabschluss"><span class="abschluss">Ohne</span>
                <input type="radio" id="Erweiterte Berufsbildungsreife" name="schulabschluss"><span
                    class="abschluss">Erweiterte Berufsbildungsreife</span>
                <input type="radio" id="schriftl.Tl" name="schulabschluss"><span class="abschluss">Fachabitur schriftl.
                    Teil</span>
                <input type="radio" id="mittlAbschluss" name="schulabschluss"><span class="abschluss">Mittlerer
                    Schulabschluss</span>
                <input type="radio" id="abitur" name="schulabschluss"><span class="abschluss">Abitur</span>

            </div>
        </div>
        <div class="input-container">

        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="letzteSchule">Zuletzt besuchte Schule</label>
            <input type="text" id="vorname">
        </div>
        <div class="input-container">
            <label for="abschlussJahr">Abschluss- / Abgangsjahr<span class="required">*</span></label>
            <input type="text" id="nachname">
        </div>
    </div>








    <div class="container">
        <div class="input-container">
            <label for="abgeschlossLehrgang">Abgeschlossener Lehrgang</label>
            <div class="abschluss-radio">
                <input type="radio" id="IBA" name="abgeschlossLehrgang"><span class="abschluss">IBA</span>
                <input type="radio" id="BQL" name="abgeschlossLehrgang"><span class="abschluss">BQL</span>
                <input type="radio" id="BV" name="abgeschlossLehrgang"><span class="abschluss">BV</span>
                <input type="radio" id="wilkommKlasse" name="abgeschlossLehrgang"><span
                    class="abschluss">Willkommensklasse</span>
                <input type="radio" id="keinen" name="abgeschlossLehrgang"><span class="abschluss">Keinen</span>

            </div>
        </div>
        <div class="input-container">

        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="handynummer">Abgeschlossene Ausbildung</label>
            <div class="input-details">
                <input type="text" id="abgeschlossAusbildung">
            </div>
        </div>
        <div class="input-container">
        </div>
    </div>

    <div class="container">
        <div class="input-container">
            <label for="neuInSchule">Neu an der Rahel-Hirsch-Schule?</label>
            <div class="abschluss-radio">
                <input type="radio" id="neu" name="neuInSchule"><span class="abschluss">Ja, ich bin neu an der
                    Rahel-Hirsch-Schule </span>
                <input type="radio" id="warSchüler" name="neuInSchule"><span class="abschluss">Ich war bereits
                    Schüler*in in
                    der Rahel-Hirsch-Schule</span>
                <input type="radio" id="istSchüler" name="neuInSchule"><span class="abschluss">Ich bin aktuell
                    Schüler*in in der
                    Rahel-Hirsch-Schule</span>
            </div>
        </div>
        <div class="input-container">

        </div>
    </div>

</div>