<div class="navigation">
    <div class="nav-container">
        <p-button label="Persönliches" class="nav-button" routerLink="/" />
        <p-button label="Wohnort" class="nav-button" (click)="scroll($event)" />
        <p-button label="Unter 18?" class="nav-button" (click)="scroll($event)" />
        <p-button label="Ausbildung" class="nav-button" (onClick)="scroll($event)" />
        <p-button label="Schulbesuch" class="nav-button" />
        <p-button label="Datenschutz" class="nav-button" (onClick)="scroll($event)"/>
    </div>
</div>