<div class="navigation">
    <div class="nav-container">
        <p-button label="Persönliches" id="Persönliches" class="nav-button" (click)="scroll($event)" routerLink="/" />
        <p-button label="Wohnort" id="Wohnort" class="nav-button" (click)="scroll($event)" />
        <p-button label="Unter 18?" id="Unter 18?" class="nav-button" (click)="scroll($event)" />
        <p-button label="Ausbildung" id="Ausbildung" class="nav-button" (onClick)="scroll($event)" />
        <p-button label="Schulbesuch" id="Schulbesuch" class="nav-button" (click)="scroll($event)" />
        <p-button label="Datenschutz" id="Datenschutz" class="nav-button" (onClick)="scroll($event)"/>
    </div>
</div>