<div id="uneter18-section" class="form-background mx-auto">
    <div class="form-title mx-auto">
        Unter 18 Daten
    </div>
    <div class="container">
        <div class="input-container">
            <label for="vornameMutter">Vorname Mutter</label>
            <input type="text" id="vornameMutter">
        </div>
        <div class="input-container">
            <label for="nachnameMutter">Nachname Mutter<span class="required">*</span></label>
            <input type="text" id="NachnameMutter">
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="telMutter">telefon Mutter<span class="required">*</span></label>
            <input type="text" id="telMutter">
        </div>
        <div class="input-container">
            <!-- <label for=""></label>
            <input type="text" id=""> -->
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="vornameVater">Vorname Vater</label>
            <input type="text" id="vornameVater">
        </div>
        <div class="input-container">
            <label for="nachnameVater">Nachname Vater</label>
            <input type="text" id="nachnameVater">
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="telVater">Telefon Vater</label>
            <input type="text" id="telVater">
        </div>
        <div class="input-container">
            <!-- <label for=""></label>
            <input type="text" id=""> -->
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="elternAdresse">Adresse Mutter-Vater</label>
            <input type="text" id="elternAdresse">
        </div>
        <div class="input-container">
            <!-- <label for=""></label>
            <input type="text" id=""> -->
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="erziehervorname">Vorname Erziehungsberechtigter</label>
            <input type="text" id="erziehername">
        </div>
        <div class="input-container">
            <label for="erziehernachname">Vorname Erziehungsberechtigter</label>
            <input type="text" id="erziehernachname">
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="telErzieher">Telefon Erziehungsberechtigter</label>
            <input type="text" id="telerzieher">
        </div>
        <div class="input-container">
            <!-- <label for=""></label>
            <input type="text" id=""> -->
        </div>
    </div>
</div>