.container {
    display: flex;
    width: 100%;
    margin: auto;
  }
  
  .input-container {
    display: flex;
    flex: 1;
    justify-content: space-between; 
    align-items: center; 
    margin: 1%;
  }


input{
  width: 60%;
  border-width: 1px;
  border-color: gray;
}

.required {
  color: red;
}

